{
  "drachtio": {
    "host": "127.0.0.1",
    "port": 9022,
    "secret": "cymru"
  }, 
  "rtpengine": {
    "host": "127.0.0.1",
    "port": 22222,
    "local-port": 2223
  },
  "credentials": [
    {
      "trunk": "your.voipprovider.com",
      "auth": {
        "username": "<yourusername>",
        "password": "<yourpassword>"  
      }
    }
  ],
  "options" : {
    "multiple-registrations": true
  },
  "logging": {
    "level": "debug"
  }
}